:root {
    --vivid-purple: #9200ff;
    --royal-purple: #3d0369;
    --dark-indigo: #0f0632;
    --almost-black: #08080b;
}
html { font-size: 62.5%; }      /* 10px */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.45;
    color: white;
}
h1, h2, h5 {
    font-family: 'Iceberg', cursive;
    text-transform: uppercase;
}
h1 { font-size: 8rem; }
h2 { font-size: 5.2rem; }
h5 { font-size: 3.2rem; }

@media (max-width: 1824px) {
    body { font-size: 1.6rem; }
    h2 { font-size: 4rem; }
}
@media (max-width: 1200px) {
    h1 {font-size: 7rem; }
    h2 {font-size: 3.3rem; }
    h5 { font-size: 2.6rem; }
}
@media (max-width: 992px) {
    h2 { font-size: 2.4rem; }
}
@media (max-width: 768px) {
    h1 { font-size: 6rem; }
    h2 { font-size: 3.6rem; }
}
@media (max-width: 480px) {
    /* body { font-size: 1.4rem; } */
    h1 { font-size: 5rem; }
    h2 { font-size: 3rem; }
}
a {
    text-decoration: none;
    color: inherit;
}
i {
    font-size: 2.5rem;
}
img {
    width: 100%;
    display: block;
}
.skip-link {
    position: absolute;
    top: 5px;
    left: -1000px;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 999;
}
.skip-link:focus {
    left: 50%;
    outline-color: white;
}
.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.wrapper-sm {
    width: 85%;
}
@media (max-width: 480px) {
    .wrapper-sm {
        width: 90%;
    }
}

/*     HEADER     */

header {
    position: relative;
    background-image: url(../assets/image-1.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 80vh;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}
h1 p {
    line-height: 1em;
    width: 8ch;
    margin: 0 auto;
}
.h1-tagline {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.437em;
    text-transform: lowercase;
    background-color: var(--vivid-purple);
    border: 1px solid rgb(151,151,151);
    width: 12.857em;
    padding: 0.45em 0.7em;
    margin-top: 0.4em;
}
.top-nav, 
footer nav {
    text-align: center;
    font-size: 2rem;
}
.top-nav {
    min-width: 460px;
    position: absolute;
    top: 6%;
    left: 50%; 
    transform: translateX(-50%);
}
.top-nav li,
footer nav li {
    float: left;
    width: 25%;
    text-transform: uppercase;
}
nav a {
    transition: 300ms text-shadow ease-in;
}
.top-nav a {
    position: relative;
}
.top-nav a::before,
.top-nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 5%;
    bottom: 10%;
    display: block;
    background: white;
    box-shadow: 0 0 5px white,
                 0 0 8px white,
                 0 0 10px var(--vivid-purple);
    transition: 300ms width ease-in;
}
.top-nav a::before{
    bottom: 90%;
    left: unset;
    right: 5%;
}   
nav a:hover,
nav a:focus {
    text-shadow: 0 0 5px white,
                 0 0 8px white,
                 0 0 10px var(--vivid-purple);
}
.top-nav a:hover::before, 
.top-nav a:hover::after, 
.top-nav a:focus::before,
.top-nav a:focus::after {
    width: 90%;
} 
li a {
    padding: 0.5em 1em;
}
.fa-bars {
    display: none;
}
.socmed-list {
    position: absolute;
    top: 50%;
    right: 4.5%;
    transform: translateY(-50%);
    text-align: center;
}
.socmed-list i {
    margin: 8px 0;
}
@media (max-width: 768px) {
    header {
        background-position: top left 38%;
    }
    header nav {
        display: none;
    }
    h1 {
        top: unset;
        bottom: -5%;
    }
    .fa-bars {
        float: right;
        display: unset;
        font-size: 3rem;
        padding: 1em;
    }
}

/*     MORE INFO SECTIONS     */

.more-info-container {
    background-color: var(--dark-indigo);
}
.vert-align-table {
    display: table;
}
.vert-align {
    height: 37.5vw;
    display: table-cell;
    vertical-align: middle;
}
/* 
   vertical-align method inspired by https://medium.com/@JonWongCodes/vertical-centering-old-school-edition-5964d0050b62 
   as recommended by Baljit Sokhi of Cohort29
*/
.perform-text, .perform-img {
    float: right;
    width: 50%;
}
.exp-text, .exp-img {
    float: left;
    width: 50%;
}
.perform-text {
    padding: 0 4em 0 320px;
}
.exp-text {
    padding: 0 320px 0 4em;
}
@media (max-width: 1824px) {
    .perform-text {
        padding-right: 5.5em;
        padding-left: 10%;
    }
    .exp-text {
        padding-left: 5.5em;
        padding-right: 10%;    }
}
@media (max-width: 992px) {
    .perform-text, .exp-text {
        padding: 0 3.8em;
    }
}
@media (max-width: 768px) {
    .perform-text, .perform-img,
    .exp-text, .exp-img {
        float: none;
        width: 100%;
    }
    .perform-img, .exp-img {
        height: 55vw;
        object-fit: cover;
        object-position: center 40%;
    }
    .vert-align {
        display: block;
        height: unset;
        padding: 2em 0 2.4em;
    }
}
@media (max-width: 480px) {
    .perform-text, .exp-text {
        padding: 0 1.2em;
    }
}
.tickets-container {
    background: var(--almost-black);
    padding: 5em 0;
}
.tickets-img, .tickets-text {
    float: left;
}
.tickets-img {
    width: 30%;   
}
.tickets-text {
    width: calc(70% - 2em);
    padding-left: 2em;
}
.tickets-text .vert-align {
    height: min(30vw, 384px);
}
.read-more,
button {
    display: inline-block;
    font-family: 'Iceberg', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    background-color: var(--vivid-purple);
    padding: 0.4em 0.9em;
    margin-top: 1em;
    transition-duration: 250ms;
    transition-property: text-shadow, box-shadow;
    transition-timing-function: ease-in;
}
.read-more:hover,
.read-more:focus,
button:hover,
button:focus {
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 20px var(--vivid-purple);
}
@media (max-width: 992px) {
    .read-more {
        font-size: 1.8rem;
    }
}
@media (max-width: 768px) {
    .tickets-container {
        padding: 2.3em 0;
    }
    .tickets-text, .tickets-img {
        float: none;
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }
    .tickets-img {
        height: 65vw;
        object-fit: cover;
        object-position: center bottom;
    }
    .tickets-text .vert-align {
        height: unset;
        padding-top: 3em;
        position: relative;
    }
    .tickets-text h2 {
        margin-bottom: 0.25em;
    }
    .horz-align {
        text-align: center;
    }
    .tickets-link {
        padding: 0.4em 2em;
    }
}
@media (max-width: 480px) {
    .tickets-container{
        padding-bottom: 0.6em;
    }
    .tickets-text, .tickets-img {
        width: 90%;
    }
}

/*     VENUE INFO SECTION     */

.venue-info-container {
    background-color: var(--royal-purple);
    padding: 6em 0;
}
.venue-info ul {
    width: 45%;
    margin: 0 auto;
    text-align: center;
}
.venue-info li {
    float: left;
    width: 33.3%;
    font-weight: 700;
    text-transform: uppercase;
}
.venue-info a {
    padding: 0.4em;
    display: block;
}
.venue-info li i {
    display: block;
    font-size: 3rem;
    margin: 0.4em 0;
}
/* break into column after tablet view */
@media (max-width: 767px) {
    .venue-info-container {
        padding: 3em 0;
    }
    .venue-info ul {
        width: 100%;
    }    
    .venue-info li {
        float: none;
        width: 100%;
        margin: 1.5em 0;
        font-size: 2.2rem;
    }
}

/*     INSTAGRAM SECTION     */

.insta-preview-container {
    background-color: var(--dark-indigo);
    text-align: center;
    padding: 4em 0;
}
.insta-preview-container ul {
    margin-top: 1.8em;
}
.insta-preview-container li {
    float: left;
    width: calc((100% / 3) - 2em);
    margin: 1em;
}
@media (max-width: 768px) {
    .insta-preview-container li {
        width: calc((100% / 2) - 2em);
    }    
    .insta-preview-container li:last-of-type {
        display: none;
    }
}
@media (max-width: 480px) {
    .insta-preview-container li {
        width: calc((100% / 2) - 1em);
        margin: 0.5em;
    }    
}

/*      FOOTER      */

footer {
    background-color: var(--royal-purple);
}
footer ul {
    margin: 0 auto;
    padding: 3em;
    max-width: 460px;
    font-size: 1.8rem;
}
/* see HEADER for nav stylings */
footer .wrapper {
    padding-bottom: 5em;
}
address, .sub-container {
    float: left;
    width: 50%;
}
form {
    width: 100%;
}
button {
    display: block;
    color: white;
    border: none;
}
input {
    display: block;
    float: left;
    border: 0;
    width: calc(100% - 170px);
    height: 50px;
    padding: 0.35em 0.9em 0.52em;
    letter-spacing: 1px;
}
input:focus {
    box-shadow: 0 0 10px white,
                0 0 15px var(--vivid-purple);
}
::placeholder {
    letter-spacing: 0;
    color: var(--almost-black);
    opacity: 1;
}
@media (max-width: 1280px) {
    button {
        width: 125px;
        font-size: 1.6rem;    
    }
    input {
        height: unset;
        width: calc(100% - 125px);
    }
}
@media (max-width: 1200px) {
    input {
        height: 2.34em;
    }
}
@media (max-width: 992px) {
    address {
        width: 40%;
    }
    .sub-container {
        width: 60%;
    }
}
@media (max-width: 768px) {
    address, .sub-container {
        float: none;
        width: 100%;
        text-align: center;
    }
    address {
        margin-bottom: 2.4em;
    }
    form {
        width: 80%;
        margin: 0 auto;
    }
    input {
        height: unset;
    }
}
@media (max-width: 480px) {
    footer .wrapper {
        padding-bottom: 1.8em;
    }  
    footer ul {
        width: 90%;
        max-width: unset;
        font-size: 1.6rem;
        padding: 2em 0;
    }
    footer nav a {
        padding: 1em 0;
    }
    form {
        width: 100%;
        padding: 1.6em 0;
    }
    input, button {
        float: none;
        width: 100%;
        height: 50px;
    }
    input {
        text-align: center;
    }
    button {
        font-size: 2.4rem;
        margin-top: 0.5em;
    }
}
@media (max-width: 360px) {
    footer ul {
        margin-left: 2.5%;
    }
}
.copy {
    background-color: var(--dark-indigo);
    clear: both;
    text-align: center;
    font-weight: 700;
    padding: 0.5em 0;
}